body {
  --icon-destructive: rgb(180,99,122) !important;
  --text-primary: rgb(87,82,121) !important;
}
.variable-size-list {
  background: #fffaf3;
}
.sc-kkxqMQ.ioorGY {
  background: #faf4ed;
}
.sc-eBzhNO.kuHgOJ {
  background: #faf4ed;
}
.sc-bAhZh.GPMFV {
  background: #faf4ed;
}
.sc-Dtwra.eHNvhw {
  background: #f2e9e1;
}
.sc-kPFlNf.cWZRyH {
  background: #faf4ed;
}
.coZvNl path {
  fill: #d7827e;
}
span {
  color: #575279;
}
p {
  color: #575279 !important;
}
.sc-iAzEPL.gyaeQS {
  background: #f2e9e1;
}
.sc-pVTFL.kDBuzx {
  background: #56949f;
}
.sc-pVTFL.eMwRDw {
  background: #dfdad9;
}
#threadBody {
  background: #fffaf3;
}
.sc-imfVFo.doa-Due {
  background: #f2e9e1;
}
#threadHeaderBackgroundId {
  background: #fffaf3 !important;
}
.sc-imfVFo.JVBPY {
  background: #f2e9e1 !important;
}
.sc-bKURNj.gRDZrM {
  background: #f2e9e1;
}
[data-test=thread-block] {
  background: #f2e9e1;
}
.sc-giYglK.jkdKTw:hover {
  background: #b4637a;
}
.dlYBdw {
  background: rgba(180,99,122,0.3)
}
.sc-ioNTmh.jwbJxo {
  background: #cecacd;
}
.ctScxr path {
  fill: #907aa9;
}
.dfgYBp path {
  fill: #286983;
}
