body {
  --icon-destructive: rgb(235,111,146) !important;
}
.variable-size-list {
  background: #1f1d2e;
}
.sc-kkxqMQ.ioorGY {
  background: #191724;
}
.sc-eBzhNO.kuHgOJ {
  background: #191724;
}
.sc-bAhZh.GPMFV {
  background: #191724;
}
.sc-Dtwra.eHNvhw {
  background: #26233a;
}
.coZvNl path {
  fill: #ebbcba;
}
span {
  color: #e0def4;
}
.sc-iAzEPL.gyaeQS {
  background: #26233a;
}
.sc-pVTFL.kDBuzx {
  background: #31748f;
}
.sc-pVTFL.eMwRDw {
  background: #403d52;
}
#threadBody {
  background: #1f1d2e;
}
.sc-imfVFo.doa-Due {
  background: #26233a;
}
#threadHeaderBackgroundId {
  background: #1f1d2e !important;
}
.sc-imfVFo.JVBPY {
  background: #26233a !important;
}
[data-test=thread-block] {
  background: #26233a;
}
.sc-giYglK.jkdKTw:hover {
  background: #b4637a;
}
.dlYBdw {
  background: rgba(180,99,122,0.3)
}
.sc-ioNTmh.jwbJxo {
  background: #524f67;
}
